.page-content {
  padding: 40px 80px 50px 80px;
}

.demo-card-square.mdl-card {
  height: 320px;
  float: left;
  margin: 10px;
}

.mdl-button {
  margin-left: 18px
}

.progress-bar {
  float: left;
  width: 100%;
  height: 5px;
  background: #ddd;
  margin-top: 20px;
}

.progress-bar__completed {
  background: rgb(255,82,82);
  height: 5px;
  width: 50%;
}
