doctype html
html(lang='en')
  head
    link(href='/css/material.min.css', rel='stylesheet')
    link(href='/css/style.css', rel='stylesheet')

    title #{title}

  body
    block content

    script(src='/js/app.js')